<h2>Sign In</h2>

<div class="container">
    <div class="col-md-8 col-md-push-2">
        <form class="form" ng-submit="vm.signIn(vm.user, $event)" name="vm.form" novalidate>

            <div class="form-group">
                <form-error for="vm.error"></form-error>
            </div>

            <div class="form-group">
                <input name="username"
                       class="form-control"
                       type="text"
                       placeholder="Username"
                       ng-model="vm.user.username"
                       ng-model-options="{updateOn: 'default blur', debounce: {default: 400}}"
                       required
                >

                <div ng-show="vm.form.username.$dirty || vm.form.$submitted" ng-messages="vm.form.username.$error"  class="text-danger">
                    <div ng-message="required">Field should be filled</div>
                </div>
            </div>

            <div class="form-group">
                <input name="password"
                       class="form-control"
                       type="password"
                       placeholder="Password"
                       ng-model="vm.user.password"
                       ng-model-options="{updateOn: 'default blur', debounce: {default: 400}}"
                       required
                >

                <div ng-show="vm.form.password.$dirty || vm.form.$submitted" ng-messages="vm.form.password.$error"  class="text-danger">
                    <div ng-message="required">Field should be filled</div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
            </div>

        </form>
    </div>
</div>