<div>
    <div class="row">
        <div class="col-md-12">
            <h3>Create purchase</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form name="vm.form" ng-submit="vm.create(vm.purchase, $event)" novalidate>

                <div class="form-group">
                    <form-error for="vm.error"></form-error>
                </div>

                <div class="form-group">
                    <input type="text"
                           name="name"
                           class="form-control"
                           placeholder="Name"
                           ng-model="vm.purchase.name"
                           ng-model-options="{updateOn: 'default blur', debounce: {default: 400}}"
                           required
                    >

                    <div ng-show="vm.form.name.$dirty || vm.form.$submitted" ng-messages="vm.form.name.$error" class="text-danger">
                        <div ng-message="required">Field should be filled</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="number"
                           name="amount"
                           class="form-control"
                           placeholder="Amount"
                           ng-model="vm.purchase.amount"
                           ng-model-options="{updateOn: 'default blur', debounce: {default: 400}}"
                           min="1"
                           required
                    >

                    <div ng-show="vm.form.amount.$dirty || vm.form.$submitted" ng-messages="vm.form.amount.$error" class="text-danger">
                        <div ng-message="required">Field should be filled</div>
                        <div ng-message="min">Value should be higher 0</div>
                        <div ng-message="number">Value should be a number</div>
                    </div>
                </div>

                <div class="form-group" ng-if="vm.users">
                    <label>Choose getters</label>

                    <div list="vm.users">
                        <a href=""></a>
                    </div>
                    
                    <div class="list-group">
                        <a ng-repeat="user in vm.users track by user.id"
                           ng-bind="user.name"
                           ng-class="{active: user.selected}"
                           href=""
                           class="list-group-item"
                           ng-click="vm.toggleToUsersList(user)"
                        >
                        </a>

                        <input type="text" name="users" hidden ng-model="vm.purchase.users">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <a href class="btn btn-default btn-block" ng-href="{{ vm.getCurrentRoomUrl() }}">Cancel</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>