<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <div class="form-group">
        <button class="btn btn-success" ng-click="ctrl.addForm()">Добавить форму</button>
      </div>
    </div>
  </div>

  <h3 ng-if="!ctrl.areThereForms()" >Добавьте как минимум одну форму</h3>

  <search-form data="form" name="{{form.name}}" on-delete="ctrl.deleteForm($index)" ng-repeat="form in ctrl.forms track by $index"></search-form>

  <div class="row">
    <div class="col-md-12 text-right">
      <div class="form-group">
        <button class="btn btn-primary" ng-click="ctrl.getResults()">Получить результаты</button>
      </div>
    </div>
  </div>

</div>
